<header class="wrapper row full-center">
    <img src="../../../assets/images/oc-logo.svg" alt="logoImage" class="logo">
    <div class="row gap-1">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a routerLink="/about-us" routerLinkActive="active">About</a>
    </div>
</header>


<!--
    *routerLink
    This property allows to use the router to navigate through different sections without using the href property

    *routerLinkActive
    This property checks if whether the link in the routerLink property is active and if it's active, it applies the 'active' class to the element


 -->
